{% include header.html %}

<html>
<section class="hero container">
  <h2>Nicholas Dorans</h2>
  <p>Follow me on my many adventures</p>
  <a class="btn btn-alt" href="index.html">NRDLIFE</a>
</section>

 <section class="row">
  <div class="grid">

  <!-- Adventures -->
  <section class="teaser col-1-3">
      <h5>Adventures</h5>
      <a href="adventures.html">
        <img src="media/images/garden_of_gods.jpg" alt="Garden of the Gods">
        <h3>I love to travel.</h3>
    </a>
    <p>Remember that one time I saved a village from a falling boulder!?!?!?</p>
  </section><!--
    Food
--><section class="teaser col-1-3">
      <h5>Food</h5>
      <a href="food.html">
        <img src="media/images/doughnut.jpg" alt="Foods">
      <h3>Yes I'm a foodie..</h3>
    </a>
    <p>Follow my food adventures - I'm currently checking out the best spots all around Denver.<p>
  </section><!--
    Turing
--><section class="teaser col-1-3">
      <h5>Turing</h5>
      <a href="turing.html">
        <img src="media/images/turing.jpg" alt="Turing">
      <h3>School of Software and Design</h3>
    </a>
    <p>I am currently enrolled in an incredibly fast paced programming bootcamp called Turing, located right in Lower Downtown Denver.</p>
  </section><!--
    Media
--><section class="teaser col-1-3">
      <h5>Media</h5>
      <a href="media.html">
        <img src="media/images/photography.jpg" alt="Media">
      <h3>Photography is my art.</h3>
    </a>
    <p>When I'm not coding, you can find me walking around with my DSLR taking pictures.</p>
  </section><!--
    Me
--><section class="teaser col-1-3">
      <h5>Me</h5>
      <a href="just_me.html">
        <img src="media/images/just_me.jpg" alt="Just Me">
      <h3>This is me.</h3>
    </a>
    <p>Hey this is me.</p>
  </section><!--
    Family
--><section class="teaser col-1-3">
      <h5>Family</h5>
      <a href="family.html">
        <img src="media/images/family.jpg" alt="Family">
      <h3>I love my family.</h3>
    </a>
    <p>It's tough living 2,000 miles away from my family but I would be nothing without their love and support.</p>
  </section>
  <section>
    <h2>Recent Posts</h2>
    <h2>________________________________</h2>
    {{ content }}
  </section>
  </div>
 </section>
</html>


{% include footer.html %}
